.container3 {
  display: flex;
  flex-direction: column;
  flex: 1;                 /* ← NOT height:100% */
  width: 100%;
  background-image: radial-gradient(
    ellipse 100% 60% at 50%,
    rgb(100, 100, 100),
    rgba(0, 0, 0, 0.9)
  );
}


.crypto-bottom {
  flex: 1;                 /* ← NOT height:100% */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}


.capsule3 {
  overflow-y: auto;
  width: 80%;
  height: 30em;
  background: rgba(255, 255, 255, 0.175);
  border-radius: 2rem;
  box-shadow: 0 4px 12px indigo;
  color: white;
}

.test{
  height:8em;
  width:80%;
  background-color: aquamarine;
  border-color: black;
  border-width: 0.3em;
  border-style: solid;
}

.CryptoTrackingFont{
    font-size: 3.5em;
    font-weight: bold;
    font-family: 'Courier New', monospace;
}