.container3 {
  display: flex;
  flex-direction: column;
  flex: 1;                 /* ← NOT height:100% */
  width: 100%;
  background-image: radial-gradient(
    ellipse 100% 60% at 50%,
    rgb(100, 100, 100),
    rgba(0, 0, 0, 0.9)
  );
}

.CryptoTrackingFont{
    font-size: 3.5em;
    font-weight: bold;
    font-family: 'Courier New', monospace;
}

.crypto-bottom {
  flex: 1;                 /* ← NOT height:100% */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.search{
  height:3.7em;
}

.searchTitle{
  text-align: center;
  font-size: 1em;
  color: white;
}

.searchTitle h1 {
  margin: 0;
}

.searchBar{
  width:98.5%;
}

.capsule3 {
  padding: 1em;
  width: 80%;
  height: 30em;
  background: rgba(255, 255, 255, 0.175);
  border-radius: 2rem;
  box-shadow: 0 4px 12px indigo;
  color: white;
}

.boxList{
  height:25.8em;
  overflow-y: auto;
}

.box{
  margin: 0.25em;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  background-image: radial-gradient(
    ellipse 100% 60% at 50%,
    rgb(100, 100, 100),
    rgba(0, 0, 0, 0.9)
  );
}
