.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: radial-gradient(ellipse 85% 25% at top, rgb(189, 189, 189), rgba(0, 0, 0, 0.9));
}

.title{
    text-align: center;
    height: 25%;
}

.gradient-text {
  /* background-image: linear-gradient(to right, indigo, black); */
  background-image: radial-gradient(circle, indigo, black);
  -webkit-background-clip: text; /* For WebKit browsers */
  background-clip: text;
  color: transparent;
  font-size: 3.5em;
  font-weight: bold;
  font-family: 'Courier New', monospace;
  
}

.main-page-bottom{
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  padding-bottom: 2.5rem;
  height: 100%;
}

.main-page-bottom div{
  width: 30%;
  float: left;
  margin-left: .5em;
  margin-right: .5em;
}

.capsule{
  background: rgba(255, 255, 255, 0.175); /* clean base */
  border-radius: 2rem; /* capsule shape */
  padding: 1.5rem;
  margin: 0.5rem;
  box-shadow: 0 4px 12px indigo; /* soft black shadow */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}